/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 900.0;
*
* available axes:
'wght' (range from 300.0 to 900.0
*/
@font-face {
    font-family: 'Satoshi-Variable';
    src: url('fonts/Satoshi-Variable.woff2') format('woff2'),
        url('fonts/Satoshi-Variable.ttf') format('truetype');
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}

/**
  * This is a variable font
  * You can control variable axes as shown below:
  * font-variation-settings: wght 900.0;
  *
  * available axes:
  'wght' (range from 300.0 to 900.0
  */
@font-face {
    font-family: 'Satoshi-VariableItalic';
    src: url('fonts/Satoshi-VariableItalic.woff2') format('woff2'),
        url('fonts/Satoshi-VariableItalic.ttf') format('truetype');
    font-weight: 300 900;
    font-display: swap;
    font-style: italic;
}

* {
    --highlight: hsl(69, 98%, 55%);
    --highlight-light: #eeff8d;
    --orange: hsl(17, 89%, 52%);
    --white: #fff;
    --black: #000;

    /*--highlight: #59bf61;*/
}

html {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Satoshi-Variable', sans-serif;
    background: var(--white);
    color: var(--black);
    width: 100%;
    margin: 0;
    padding: 0;

    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="hsl(17, 89%, 52%)" stroke="none" width="30px" height="30px" viewBox="0 0 10.04 10.04"><circle cx="5.02" cy="5.02" r="4.52"/></svg>') 16 16, auto;
}

body em {
    font-family: 'Satoshi-VariableItalic', sans-serif;

}

.project-page {
    background: var(--black);
    color: var(--white);
}


.maxwidth {
    max-width: 100%;
}

figcaption {
    text-align: right;
}

#myVideo {
    width: 100%;
    height: 98vh;
    object-fit: contain;
    z-index: 9999;
    opacity: 1;
    transition: 0.2s;
}

#myVideo2 {
    width: 100%;
    height: 98vh;
    object-fit: contain;
    z-index: 999;
    display: none;
    transition: 0.2s;
    margin: 0 auto;
}

@media (min-width: 50em) {

    #myVideo {
        height: 100%;
        max-height: 98vh;
    }

    #myVideo2 {
        padding-top: 16vh;
        height: 70vh;
        max-height: 98vh;

    }
}

.scroll-snap-container {
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.scroll-snap-container>* {
    width: 100%;
    height: 100vh;
    background-size: cover;
    scroll-snap-align: start;
}

#landing-content {
    display: flex;
    justify-content: flex-end;
    background-image: url(images/CellMan-lg.jpg);
    background-color: var(--highlight);
    background-position: center;
    background-size: 180%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

@media (min-width: 940px) {
    #landing-content {
        background-position: left;
        background-size: 81%;
    }
}

nav {
    padding: 2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    z-index: 9999;
    display: flex;
    gap: 1em;
    flex-direction: column;
}


@media (max-width: 1280px) {

    nav a:nth-child(3) {
        position: absolute;
        bottom: 2em;
    }
}

@media (min-width: 1280px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 13%;
    }
}

.project-page nav {
    max-width: 100%;
    background-color: var(--highlight);
    margin-bottom: 3rem;
    padding: 0;
    transition: 0.5s;
}

.project-page nav:hover {
    padding: 1em;
}

.project-page nav a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a,
nav a>p {
    display: block;
    font-weight: 900;
    color: black;
    font-size: clamp(0.6875rem, 0.5397rem + 0.5564vw, 1.875rem);
}

.top-link {
    position: absolute;
    bottom: 1em;
    left: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.link-title {
    padding: 0 1em;
}

.link-nma::after,
.link-artist::after {
    content: "\2197";
    padding: 1em;
}

.link-curatorial::after {
    content: "\2192";
    padding: 1em;
}

.link-view::after {
    content: "\2198";
    padding: 1em;
}

.link-back::before {
    content: "\2196";
    padding: 1em;

}

.link-artist {
    background-color: var(--highlight);
    color: var(--black);
    padding: 0.5em;
}

.link-firewall::after {
    content: "\2197";
    padding: 1em 0 1em 1em;
}

.link-firewall {
    color: #d72b29;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    background-image: url("images/firewall-logo.png");
    max-width: 100%;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    padding: 200px 1em 1em 1em;
    background-color: var(--white);
}

.exhibition-title-container {
    right: 60%;
    position: absolute;
    margin-left: -66%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
@media (min-width: 940px) {
    .exhibition-title-container {
        margin-left: -10vw;
    }
}


@media (min-width: 1060px) {
    .exhibition-title-container {
        margin-left: -5vw;
    }
}

@media (min-width: 1120px) {
    .exhibition-title-container {
        margin-left: -3vw;
    }
}*/

@media (min-width: 1280px) {
    .exhibition-title-container {
        margin-left: -35%;
        left: -17%;

    }
}

.exhibition-title {
    font-family: 'Satoshi-Variable', sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
    margin: 0;
    color: var(--highlight);
    font-weight: 800;

}

.homepage .exhibition-title {
    font-size: clamp(2.60104375rem, 1.1735rem + 5.3741vw, 11.25rem);
    margin-top: -18%
}

@media (max-width: 450px) {
    .homepage .exhibition-title {
        font-size: clamp(16px, 9.5vw, 5.8rem);
    }
}

#exhibition-title {
    transition: 1s;
}

.exhibition-title-1 {
    /*rotate: 90deg;*/
    position: absolute;
    writing-mode: vertical-lr;
    margin-top: -2.03em;
    margin-left: 2.07em;
    height: 5.24em;
}

.exhibition-title-2 {
    margin-top: 2.7em;
    margin-left: 2.6em;
    position: absolute;
}

.exhibition-title-3 {
    margin-top: 3.6em;
    margin-left: 6.67em;
    position: absolute;
}

.exhibition-title-4 {
    /*margin-top: 0.52em;
    margin-left: 7.9em;
    rotate: 270deg;*/
    position: absolute;
    margin-top: -1.43em;
    margin-left: 9.9em;
    rotate: -180deg;
    writing-mode: vertical-lr;
    height: 5.24em;
}

.exhibition-title-5 {
    margin-top: -1.63em;
    margin-left: 5.69em;
    rotate: 180deg;
    position: absolute;
    width: 4.4em;
}

#main-wrapper {
    z-index: -1;
    opacity: 0;
    display: none;
}

#main-wrapper.loaded {
    display: block;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

a {
    text-decoration: none;
}

p {
    font-size: clamp(1rem, 1.8vw, 2rem);
    font-weight: 400;
    max-width: 36em;
}

/*
body::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.16) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.04), rgba(0, 255, 0, 0.01), rgba(0, 0, 255, 0.05));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}*/

a {
    color: var(--highlight);
}


.visually-hidden {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.hidden-ss {
    display: none;
}

.video-container {
    display: flex;
    justify-content: center;
    cursor: pointer;
    max-height: 70vh;
    width: 100%;
}

.video-16-9 {
    aspect-ratio: 16/9;
    width: 85%;
    position: relative;
    z-index: 50;
}

.video-4-3 {
    aspect-ratio: 4/3;
    width: 80%;
    position: relative;
    z-index: 50;
}

h1,
.exhibition-title {
    font-size: clamp(2rem, 2.4vw, 4rem);
}

.works-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="hsl(17, 89%, 52%)" stroke="none" width="30px" height="30px" viewBox="0 0 10.04 10.04"><circle cx="5.02" cy="5.02" r="4.52"/></svg>') 16 16, auto;
}

.project-container {
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin: 2em
}

.passages-container {
    flex-direction: row-reverse;
}

.works-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    height: 100vh;
    width: 100%;
}

.works-wrapper>a {
    height: 100%;
    width: 100%;
}

.work {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-color: rgb(0, 0, 0, 0.4);
}

.work:hover {
    background-color: rgb(0, 0, 0, 0.6);

}

.work-1-thumb {
    background-image: url('images/FIREWALL_NYC-06.jpg');
    grid-column: 1 / 2;
    grid-row: 1;
}

.work-2-thumb {
    background-image: url('images/PageImage-504267-2988615-c58ec261be.jpg');
    grid-column: 2 / 2;
    grid-row: 1;

}

.work-3-thumb {
    background-image: url('images/whatitslike-whatitis-keyimage3.png');
    grid-column: 1 / 2;
    grid-row: 2;

}

.work-4-thumb {
    background-image: url('images/CellMan.jpg');
    grid-column: 2 / 4;
    grid-row: 2;

}

.folded {
    position: relative;
    display: inline-flex;
    transform-style: preserve-3d;
}

.folded img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 56vh;
    opacity: 0;
}

.folded .a,
.folded .b {
    top: 0;
    display: inline-block;
    height: 100%;
    background-image: var(--bg);
    background-size: cover;
    background-repeat: no-repeat;
}

.folded .a {
    position: absolute;
    left: 0;
    width: 50%;
    background-position: 0 0;
}

.folded .bc {
    position: absolute;
    display: inline-flex;
    width: 50%;
    height: 100%;
    left: 50%;
    transform-origin: left;
    transition: transform 3s;
    transform-style: preserve-3d;
}

.folded .b {
    position: relative;
    width: 100%;
    backface-visibility: hidden;
}

.folded .b {}

.folded .b:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--highlight);
    transform: rotateY(180deg) translateZ(1px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.folded:hover .bc,
.folded:active .bc {
    transform: rotateY(-180deg) translateZ(-1px);
    transition: transform 2s;
}

.work-thumb {
    max-width: 100%;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
}

a:has(.work-1-thumb),
a:has(.work-2-thumb),
a:has(.work-3-thumb),
a:has(.work-4-thumb) {
    margin: 0 auto;
}

a:has(.work-1-thumb),
a:has(.work-2-thumb) {
    order: 1;
}

a:has(.work-3-thumb),
a:has(.work-4-thumb) {
    order: 3
}

.project-desc-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}



/*.works-container::after,
.landing-container::after {
    content: "";
    background-image: url("images/grain2.jpg");
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0.4;
    /*animation: animateGrain 8s steps(10) infinite;*/


@keyframes animateGrain {

    0%,
    100% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -10%)
    }

    20% {
        transform: translate(-15%, -20%)
    }

    30% {
        transform: translate(-5%, -10%)
    }

    40% {
        transform: translate(-15%, -20%)
    }

    50% {
        transform: translate(-5%, -10%)
    }

    60% {
        transform: translate(-15%, -20%)
    }

    70% {
        transform: translate(-5%, -10%)
    }

    80% {
        transform: translate(-15%, -20%)
    }

    90% {
        transform: translate(-5%, -10%)
    }

    100% {
        transform: translate(-15%, -20%)
    }

}

/* test fold */
.work-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*grid-template-rows: repeat(2, 1fr);
    height: 100vh;*/
    /*overflow: hidden;*/

}

.grid-item {
    position: relative;
    perspective: 1000px;
    overflow: hidden;

    background: var(--highlight);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.image-half {
    position: absolute;
    width: 50%;
    height: 100.5%;
}

.fold-left .image-left {
    left: 0;
    overflow: hidden;

}

.fold-left .image-right {
    right: 0;
    transform-origin: left center;
    transition: transform 2s;
    transform-style: preserve-3d;
    backface-visibility: hidden;

}

.fold-right {
    display: flex;
    flex-direction: row-reverse;
}

.fold-right .image-left {
    left: 0;
    transform-origin: right center;
    transition: transform 2s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    z-index: 9999999999;
    position: absolute;
}

.fold-right .image-right {
    right: 0;
    overflow: hidden;
}

.fold-left .image-right::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--highlight);
    transform: rotateY(180deg) translateZ(2px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    perspective: 1000px;

}

.fold-right .image-left::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--highlight);
    transform: rotateY(180deg) translateZ(2px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    perspective: 1000px;

}

.shadow {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: translateZ(2px);
    opacity: 0;
    transition: 2s;
}

.grid-item:hover .shadow {
    opacity: 1;
}

.grid-item:hover .fold-left .image-right {
    transform: rotateY(-180deg) translateZ(2px);
}

.grid-item:hover .fold-right .image-left {
    transform: rotateY(180deg) translateZ(2px);
}

.image-flicker {
    width: 0;
    height: 0;
    z-index: 999999;
    top: 0;
    left: calc(50% - 3px);
    position: relative;
}


.image-wrapper:hover .image-flicker {
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: var(--highlight);
    transition: width 0s ease-in-out 0.6s;

}

.image {
    position: absolute;
    height: 100%;
    width: 200%;
    object-fit: cover;
}

.image-left .image {
    left: 0;
}

.image-right .image {
    right: 0;
}

.work-grid h2 {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: clamp(0.875rem, 0.2839rem + 2.2255vw, 5.625rem);
    text-align: center;
    color: var(--black);
}

.work-hidden {
    z-index: -1;
}



.work-grid .fold-right+h2 {
    transform: translate(-50%, -50%);
    left: 25%;

}

/*.firewall-grid-item {
    background: #d80c12;
}

.whatitslike-grid-item {
    background: #fa346c
}

.unfolding-grid-item {
    background: #ff1352
}

.passages-grid-item {
    background: var(--orange)
}*/



@media (max-width: calc(600px + 10rem)) {
    .project-container {
        flex-direction: column;
    }

    .works-wrapper,
    .work-grid {
        grid-template-columns: 1fr;
        background-color: var(--black);
    }

    .grid-item {
        background-color: var(--black);
    }

    .work-grid h2 {
        color: var(--highlight)
    }

    a:has(.work) {
        grid-column: 1 / 3;
    }


    .project-page nav a {
        flex-direction: column;
        text-align: center;
    }

    .fold-left .image-right,
    .fold-right .image-left,
    .image-flicker {
        display: none;
    }

    .fold-left .image-left .image,
    .fold-right .image-right .image {
        width: 100%;
        height: 100%;
    }

    .image-half {
        width: 60%;
    }

    .work-grid .fold-right+h2 {
        left: 19%;
        max-width: 20%;

    }

    .work-grid .fold-left+h2 {
        left: 80%;
        max-width: 20%;
    }

    /*.work-grid h2.work-hidden {
        z-index: 1;
    }*/
    /*
    .fold-right .image-left {
        background: var(--highlight);

    }*/

    /*
    .work-grid h2,
    .work-grid .fold-right+h2 {
        left: auto;
        top: auto;
        transform: none;
        font-size: 2em;
back    }*/

}

@media (max-width: 940px) {
    .video-16-9 {
        width: 100%;
    }
}

.image-right {
    background: url("images/FIREWALL_NYC-06.jpg");
}

.photos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}



.passages-photos-container {
    margin-top: 10%;
    gap: 8rem;
    padding-bottom: 4rem;

}

.nai-photos-container {
    margin-top: 3%;
    gap: 4rem;
    padding-bottom: 4rem;

}

.nai-photos-container .photo-row {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.photos-container img {
    max-height: 110vh;
    max-width: 100%;
}


@media (min-width: calc(10rem + 600px)) {
    .landscape-photo {
        margin-right: -45vw;
        max-width: 90vw;
    }

    .nudge-right-30 {
        margin-left: -40vw
    }

    .nudge-left-30 {
        margin-left: 30vw
    }

    .nudge-left-50 {
        margin-left: 45vw
    }

    .nudge-left-60 {
        margin-left: 60vw
    }

    .project-desc {
        padding-right: 3em;

    }

    .nai-photos-container .photo-row {
        flex-direction: row;
        gap: 2em;
    }

}

.firewall-logo {
    width: 50%;
}

.work-grid-dark .grid-item {
    background: black;
}

.work-grid-dark .grid-item h2 {
    color: var(--highlight);

}

.work-grid-dark .fold-left .image-right::after,
.work-grid-dark .fold-right .image-left::after {
    background-color: var(--black);
}

.work-grid-dark .image-wrapper:hover .image-flicker {

    background-color: var(--black);
}